$color-primary-100: hsl(193, 38%, 86%);
$color-primary-200: hsl(150, 100%, 66%);

$color-neutral-100: hsl(217, 19%, 38%);
$color-neutral-200: hsl(217, 19%, 24%);
$color-neutral-300: hsl(218, 23%, 16%);

$breakpoint-mobile: 37.5em; // 600px
$breakpoint-desktop: 90em; // 1440px
